# Mongita requirements
pymongo>=3.11,<4.0
sortedcontainers>=2.3,<3.0

# Testing
pytest>=6.0.2,<6.1
coverage>4.5,<4.6  # downgraded for --concurrency flag

# Third party compatibility
mongoengine>=0.23,<1.0

# Benchmarking
coolname>=1.1,<1.2
lorem>=.1,<.2
msgpack>=1.0.2,<1.1
plotly>=4.14,<5.0
pygount>=1.2,<2.0
psutil>=5.8,<6.0  # image chart generation
requests>=2.25,<3.0  # also for image chart generation

# Development
ipdb>=0.13
icecream>=2.1,<3.0
